/* body */

*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content:space-between;
    background-color: black;
    overflow-y: hidden;
}

/* header */

header{
    width:15%;
    height: 100vh;
    background-color: #4d4d4d;
    font-size: 3em;
    text-align: center;
    overflow-y: hidden;
    position: fixed;
    /* visibility: hidden; */
}

    /* search */

    .search{
        padding: 1.15em 0em;
        background-color: rgb(255, 255, 255);
    }
    .search:hover{
        /* background-color: rgb(28, 28, 28); */
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

    /* list */

        li{
            text-decoration: none;
            color: black;
            list-style-type: none;
            padding: 1.15em 0em ;
        }

        /* profile */
        .profile{
            background-color: chartreuse;
            position: relative;
        }
        .profile:hover{
            /* background-color: rgb(28, 28, 28); */
            background-color: rgb(0, 0, 0);
            color: chartreuse;
        }

        .cart{
            background-color: rgb(0, 221, 255);
        }
        .cart:hover{
            /* background-color: rgb(28, 28, 28); */
            background-color: rgb(0, 0, 0);
            color: rgb(0, 221, 255);
        }

        .count, .like{
            position: relative;
            bottom: 20px;
            left: 10px;
            font-size: .6em;
        }

        .wishlist{
            background-color: rgb(255, 0, 89);
        }
        .wishlist:hover{
            /* background-color: rgb(28, 28, 28); */
            background-color: rgb(0, 0, 0);
            color: rgb(255, 0, 89);
        }

        .like{
            font-size: .6em;
        }


/* body */

.main{
    width: 85%;
    height: 100vh;
    background-color: black;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

    /* main body */

    .mainbody{
        width: 90%;
        height: 90%;
        background-color: rgb(28, 28, 28);
        position: relative;
        overflow-y: scroll;
        border-radius: 20px;
        overflow-y: scroll; /* Enable vertical scrolling */
        padding-right: 20px; /* Enough padding to avoid content cutoff */
    }

    .mainbody::-webkit-scrollbar {
        display: none;
      }

        /* item box */
        .item_box{
            width: 100%;
            height: 90%;
            /* background-color: #4d4d4d; */
            /* margin-top: 3.5em;  */
        }

        .items{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        .item{
            width: 26%;
            height: 85%;
            background-color: rgb(0, 0, 0);
            color: aliceblue;
            margin-left: 4em;
            position: relative;
            cursor: pointer;
            text-align: center;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            border-radius: 20px;
            margin: 10px;
        }

       

        /* item property */
            .item img{
                width: 90%;
                height: auto;
                margin: .9em;
                border-radius: 20px;
                border: 1px black solid;
            }
            
            .heart{
                display:inline-block;
                background-color: red;
                padding: 5px;
                border-radius: 20px ;
                transition:all .3s;
                position: absolute;
                top: 20px;
                left: 20px;
                font-size: 1.2em;
            }
            .heart:hover{
                color: red;
                background-color: rgb(255, 255, 255);
            }
            
            .add_to_chart{
                display:inline-block;
                background-color:rgb(0, 0, 0);
                color: rgb(0, 221, 255);
                padding: 5px;
                border-radius: 20px ;
                transition:all .3s;
                position: absolute;
                top: 20px;
                right:20px;
                font-size:1.2em
            }
            .add_to_chart:hover{
                color: black;
                background-color: rgb(0, 221, 255);
            }
            

            .item_content{
                color: rgb(255, 255, 255);
            }

            .discription{
                font-size: .7em;
                word-spacing: normal;
            }
            .line2{
                margin-top: .7em;
            }

                .rating{
                    font-size: .9em;
                }
                    .fa-star{
                        color:yellow
                    }

                .people_buy{
                    font-size: .9em;
                }
            
            .line3{
                margin-top: .7em;
            }
                .price{
                    font-size: 1.4em;
                }

                .cut_price{
                    font-size: .9em;
                    text-decoration:line-through;
                }
                .sale{
                    font-size: .9em;
                }
                
